* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    flex-wrap: wrap-reverse;
    border-color: aquamarine;
    color: blue;
    text-shadow: cornsilk;
    padding: (100, 100, 100);
}

div {
    text-align: center;
    flex-wrap: wrap-reverse;
    border-color: blue;
}

div-1 {
    text-decoration-color: rgb(195, 27, 27);
    text-shadow: 100pc;
}

.box {
    background-color: blue;
    padding-top: 30px;
    padding: 25px;
}

body {
    background-color: rgb(153, 44, 115);
    padding-top: 75px;
}